.header {
  display: flex;
  justify-content: space-around;
  max-height: 100px;
  padding: 10px auto;
}

.logo {
}

.sessionContainer {
  display: flex;
  width: 200px;
  justify-content: space-around;
  align-items: center;
}

.chatLinkButton {
  background: lightseagreen;
  color: #fff;
  border: none;
  width: 100px;
  padding: 10px;
  cursor: pointer;
}

.chatLinkButton:hover {
  transform: scale(1.05);
}

.links {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.link {
  margin: 0 10px;
}

.avatarImage {
  border-radius: 50%;
}

.dropdownMenu {
  border: none;
}
